version: "3.8"

services:
  backend:
    build: ./backend
    container_name: bugfinder-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: bugfinder-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
